body {
  padding-top: 40px;
  background-color: #6d6f72;
}

* {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
#logo {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  padding-top: 10px;
}

div.page-header {
  margin: 0;
  padding: 0;
  border: none;
}
#mycarousel {
  height: 600px;
  width: 100%;
  display: block;
  position: relative;
}

.carousel-inner {
  margin-top: 40px;
}
.carousel-control {
  margin-top: 10px;
}
.item {
  height: 400px;
  width: 100%;
  margin-bottom: 0;
}
.carousel-indicators {
  width: 50px;
  height: auto;
}
div .mision {
  height: 400px;
  background-image: url("images/green.jpg");
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #37383a;
  text-align: center;
  padding-top: 150px;
}
.thum {
  max-height: 200px;
}
div .row .thumbnail {
  border: none;
  padding: 10px;
}
.row .thumbnail {
  padding: 30px;
  border: none;
}
.container {
  border: none;
}
div .col-md-7 .inicio {
  background-image: url(images/cooper.png);
  background-attachment: fixed;
}
#imgbanner {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}
.navbar-collapse li {
  font-size: 20px;
  padding: 15px;
}
.footer {
  background-color: #5b97a0;
  height: 35%;
}

div .redes {
  padding-top: 80px;
}
a.social {
  padding: 10px;
}
.contacto li {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  list-style: none;
  float: left;
  padding: 10px;
  border-top: #6d6f72 solid 1px;
}
