body {
  padding-top: 80px;
}

* {
  font-family: 'Roboto', sans-serif;
}
#logo {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  padding-top: 10px;
}
#imgbanner {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}
.navbar-collapse li {
  font-size: 20px;
  padding: 15px;
}
.page-header {
  background-image: url("images/green.jpg");
  background-attachment: fixed;
  height: 350px;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 100px;
  margin: 0 !important;
  font-family: 'Montserrat', sans-serif;

}
#directorio {
  margin-top: 0;
  height: 230px;
  background-color: #e3e4e5;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#directorio2 {
  height: 100px;
  text-align: center;
}
.glyphicon {
  font-size: 100px;
  color: #5b97a0;
}
.tbbt {
  border-radius: 50%;
  padding: 20px;
}
div .row .somos {
  padding: 50px;
  max-width: 70%;
}

.footer {
  background-color: #5b97a0;
  height: 35%;
}
div .redes {
  padding-top: 20px;
}
a .social {
  padding: 10px;
}
.contacto li {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  list-style: none;
  float: left;
  padding: 10px;
  border-top: #6d6f72 solid 1px;
}
input, textarea {
  border-radius: 5px;
  width: 100%;
}
